[submodule "KNN"]
	path = KNN
	url = https://github.com/FractalCucumber/KNN
[submodule "regression"]
	path = regression
	url = https://github.com/FractalCucumber/regression
[submodule "ML_group"]
	path = ML_group
	url = https://github.com/Qwertst/ML_group
[submodule "classification"]
	path = classification
	url = https://github.com/oreshkichikaladnie/machine_learning
