[submodule "KNN"]
	path = KNN
	url = https://github.com/FractalCucumber/KNN
[submodule "regression"]
	path = regression
	url = https://github.com/FractalCucumber/regression
[submodule "classification"]
	path = classification
	url = https://github.com/oreshkichikaladnie/machine_learning
[submodule "Clustering_and_Network"]
	path = Clustering_and_Network
	url = https://github.com/Qwertst/ML_group
